.CategoryList {
    min-height: 93vh;
 color: rgb(82, 125, 233);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.category {
    height: 30vh;
    width: 25vw;
    margin: 3vw;
    border: 1px solid rgb(82, 125, 233);
    border-radius: 18px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category:hover{
    background: rgba(0, 0, 0, 0.053);
}
.category:active{
    background: rgba(0, 0, 0, 0.129);
}