.productNotInTheCart {
    max-height: 10%;
    min-height: 10%;
    width: 100%;
    margin-top: 7%;
    padding: 2%;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productNotInTheCart:hover {
    background: rgb(43, 43, 43);
}

.productNotInTheCart:active {
    background: rgb(135, 134, 134);
}

.continerProductInTheCart {
    margin: 2% 0% 2% 0%;
    min-height: 10%;
    width: 100%;
    padding: 2%;
    font-size: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonPlus {
    width: 28px;
    background: black;
    color: aliceblue;
    font-size: 1.2rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonMinus {
    width: 28px;
    background: black;
    color: aliceblue;
    font-size: 1.2rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonPlus:hover,
.buttonMinus:hover {
    background: rgb(69, 69, 69);
}